:global .score-wrap {
  width: 100%;
}

:global .score-container {
  width: 100%;
}

:global .score-top {
  width: 85%;
  height: 100px;
  margin-top: 63px;
  margin-left: 73px;
  border: 1px solid #ccc;
  line-height: 100px;
  display: flex;
}

:global .score-teacher {
  margin-left: 15%;
}

:global .score-student {
  margin-left: 15%;
}

:global .score-top-left {
  flex: 1;
}

:global .score-top-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

:global .select-student {
  width: 224px;
  height: 40px;
  margin-right: 5%;
}

:global .score-content {
  width: 85%;
  height: auto;
  margin-top: 8px;
  margin-left: 73px;
  border: 1px solid #ccc;
}

:global .edit-mask p {
  margin: 5px;
}

:global .edit-mask p b {
  opacity: 0;
}
