
:global{
    
    @media screen and ( min-width: 375px ) {

        *{
            outline: none;
            box-sizing: border-box;
        }
        %juzhong{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .view{
            width: 80%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            .top{
                width: 100%;
                height: 30%;
                display: flex;
                flex-direction: column;
                .classList{
                    width: 95%;
                    height: 50%;
                    margin: 10px auto;
                    border: 1px solid rgba(187, 187, 187, 1);
                    display: flex;
                    flex-direction: column;
                    .top-list{
                        width: 100%;
                        flex:1;
                        display: flex;
                        align-items: center;
                        .title{
                            width: 7%;
                            height: 40%;
                            color:#a3d0fd;
                            background:rgba(230,241,252,1); 
                            border:1px solid rgba(163,208,253,1);
                            font-size: 12px;
                            line-height: 30px;
                            display: inline-block;
                            text-align: center;
                            border-radius: 4px;
                            font-family: SourceHanSansSC-regular;
                            margin: 0 1%;
                            &:nth-of-type(1){
                              color: #000;
                              background: white;
                              border:none;
                            }
                        }
                    }
                    .btm-list{
                        flex:1;
                        display: flex;
                        justify-content: space-between;
                         .nameList{
                             display: flex;
                             flex:1;
                             label{
                                width: 10%;
                                height: 40%;
                                 margin: 0 1%;
                                 line-height: 30px;
                                 text-align: center;
                             }
                            .title{
                                width: 10%;
                                height: 40%;
                                font-size: 12px;
                                line-height: 30px;
                                display: inline-block;
                                text-align: center;
                                font-family: SourceHanSansSC-regular;
                                margin: 0 1%;
                            }
                         }
                .btn{
                    width: 30%;
                    height: 70%;
                    line-height: 25px;
                   
                    .text{
                        display: inline-block;
                        font-size: 14px;
                        margin: 0 3px;
                    }
                    .outSide{
                        position: relative;
                        display: inline-block;
                        width: 80px;
                        height: 15px;
                        border-radius: 10px;
                        background:rgba(86,119,252,.5);
                        .inSide{
                            position: absolute;
                            top:-4px;
                            right:0;
                            width: 25px;
                            height: 25px;
                            display: block;
                            border-radius: 50%;
                            background:#5677fc;
                        }
                    }
                }
                    }
                   
                }
              
            }
            .main{
               width: 100%;
               overflow: scroll;
               flex:1;
               .content{
                width: 95%;
                margin: 10px auto;
                flex:1;
                display: flex;
                flex-direction: column;
                
                .con-item{
                    width: 100%;
                    height: 400px;
                    display: flex;
                    flex-direction: column;
                    margin: 20px 0;
                    .con-line{
                        width: 100%;
                        height: 400px;
                    }
                .con-btm{
                    width: 100%;
                    height: 80px;
                    display: flex;
                    border:1px solid #5677fc;
                    .left-view{
                        flex:2;
                        display: flex;
                       flex-direction: column;
                       span{
                           flex:1;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                       }
                    }
                    .right-view{
                        flex:8;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        textarea{
                            width: 90%;
                            height: 90%;
                            border:none;
                        }
                    }
                }
              
            }
            .message{
               
                width: 100%;
                display: flex;
                border:1px solid #ccc;
                .msg-item{
                   width: 100%;
                   height: 80px;
                   display: flex;
                   flex-direction: column;
                   span{
                       flex:1;
                       display: flex;
                       align-items: center;
                   }
                }
            }
        }
       
     }
    }
 }

    @media screen and ( max-width:375px ){
        
        html{
            font-size: calc(100/375*100vw);
        }
        %juzhong{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .view{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            font-size: 15px;
            .top{
                width: 100%;
                height: 30%;
                .classList{
                    width: 95%;
                    height: 70%;
                    margin: 10px auto;
                    border: 1px solid rgba(187, 187, 187, 1);
                    display: flex;
                    flex-direction: column;
                    .top-list{
                        width: 100%;
                        flex:1;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        .title{
                            width: 0.5rem;
                            height: 0.3rem;
                            color:#a3d0fd;
                            background:rgba(230,241,252,1); 
                            border:1px solid rgba(163,208,253,1);
                            font-size: 11px;
                            display: inline-block;
                            text-align: center;
                            border-radius: 4px;
                            font-family: SourceHanSansSC-regular;
                            margin: 4px 4px;
                            &:nth-of-type(1){
                              color: #000;
                              background: white;
                              border:none;
                            }
                        }
                    }
                    .btm-list{
                        flex:1;
                        display: flex;
                        justify-content: space-between;
                         .nameList{
                             display: flex;
                             flex:1;
                             label{
                                width: 0.5rem;
                                 height: 0.3rem;
                                 line-height: 30px;
                                 text-align: center;
                             }
                            .title{
                                width: 0.5rem;
                                height: 0.3rem;
                                font-size: 12px;
                                line-height: 30px;
                                display: inline-block;
                                text-align: center;
                                font-family: SourceHanSansSC-regular;
                                margin: 0 1px;
                            }
                         }
                .btn{
                    width: 30%;
                    height: 70%;
                    line-height: 25px;
                   
                    .text{
                        display: inline-block;
                        font-size: 14px;
                        margin: 0 3px;
                    }
                    .outSide{
                        position: relative;
                        display: inline-block;
                        width: 80px;
                        height: 15px;
                        border-radius: 10px;
                        background:rgba(86,119,252,.5);
                        .inSide{
                            position: absolute;
                            top:-4px;
                            right:0;
                            width: 25px;
                            height: 25px;
                            display: block;
                            border-radius: 50%;
                            background:#5677fc;
                        }
                    }
                }
            }
                   
        }
    }
            .main{
                width: 100%;
                overflow: scroll;
                flex:1;
             .content{
                 flex:1;
                 width: 95%;
                 display: flex;
                 margin: 10px auto;
                 flex-direction: column;
                 .view-item{
                     width: 100%;
                     height: 3.6rem;
                     display: flex;
                   
                     flex-direction: column;
                     overflow-x: scroll;
                     .view-line{
                        width: 5rem !important ;
                        height: 2.6rem;
                    }
                .view-btm{
                    width: 5rem;
                    height: 0.6rem;
                    display: flex;
                    border:1px solid #5677fc;
                   .left-view{
                    flex:3.5;
                    display: flex;
                     flex-direction: column;
                     span{
                        flex: 1;
                        display: flex;
                        font-size: 11px;
                        justify-content: center;
                        align-items: center;
                     }
                   }
                   .right-view{
                    flex: 6.5;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    textarea{
                        width: 90%;
                        height: 90%;
                        border: none;
                    }
                   }
                }
                 }
              }
           }
        
      }
   }
}
