:global * {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

@media screen and (min-width: 375px) {
  :global .login-container {
    height: 100px;
  }
  :global .login-content {
    width: 500px;
    height: 470px;
    border: 1px solid #ccc;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  :global .login-content .login-inner {
    margin-top: 31px;
    margin-left: 17px;
    text-align: center;
  }
  :global .login-content-title {
    width: 457px;
    height: 68px;
    font-size: 36px;
    text-align: center;
    line-height: 68px;
  }
  :global nav {
    margin-bottom: 10px;
  }
  :global .nav-btn {
    display: inline-block;
    width: 100px;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #ccc;
    color: #ccc;
  }
  :global .active {
    border-bottom: 1px solid blue;
    color: blue;
  }
  :global .ipt {
    width: 320px;
    height: 40px;
    margin: 10px;
  }
  :global .submit-btn {
    width: 320px;
    height: 40px;
    background-color: blue;
    margin: 15px;
  }
}

@media screen and (max-width: 375px) {
  :global html {
    font-size: calc(100/375*100vw);
  }
  :global body, :global #root, :global html {
    width: 100%;
    height: 100%;
  }
  :global .login-container {
    height: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }
  :global .login-content {
    width: 80%;
    height: 5.5rem;
    border: 1px solid #ccc;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  :global .login-content .login-inner {
    text-align: center;
    margin-left: .1rem;
    margin-top: .3rem;
  }
  :global .login-content-title {
    width: 100%;
    height: .6rem;
    font-size: 20px;
    text-align: center;
    line-height: .5rem;
  }
  :global nav {
    margin-bottom: .1rem;
  }
  :global .nav-btn {
    display: inline-block;
    width: 1.5rem;
    height: .6rem;
    line-height: .6rem;
    border-bottom: 1px solid #ccc;
    color: #ccc;
  }
  :global .active {
    border-bottom: 1px solid blue;
    color: blue;
  }
  :global .ipt {
    width: 5rem;
    height: .6rem;
    margin: .3rem;
  }
  :global .submit-btn {
    width: 5rem;
    height: .6rem;
    background-color: blue;
    margin: .3rem;
  }
}
