:global{

 @media screen and (min-width: 375px) {
    %juzhong{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header{
        background-color: blue;
        height: 100px;
        color: white;
        font-size: 20px;
        @extend %juzhong
    }
  
}

@media screen and (max-width: 375px) {
    .header{
      background-color: pink;
      height: 44px;
    }

}
 
}
