@media screen and (min-width: 375px) {
  :global .table-head {
    display: flex;
    background-color: #ccc;
    font-weight: bold;
  }
  :global .table-item {
    display: flex;
    border-bottom: 1px solid #ccc;
  }
  :global .table-item-cell {
    flex: 1;
    margin: 10px 0px;
    display: inline-block;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  :global .table-head {
    display: flex;
    background-color: #ccc;
    font-weight: bold;
  }
  :global .table-item {
    display: flex;
    border-bottom: 1px solid #ccc;
  }
  :global .table-item-cell {
    flex: 1;
    margin: 10px 0px;
    display: inline-block;
    text-align: center;
  }
}
